*.class
*.iml
*.log
*.idea
.idea
*.project
*.exe
*.dll
*.dylib
*.so
*.exe~
*.json
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
.svn
.DS_Store


/bin
/target
/logs
/build
/out
/output
/.idea
/nbproject/private
/nbbuild
/dist
/nbdist
/.nb-gradle
/.buildpath
/.project
/.classpath
/.settings
